[submodule "webapi"]
	path = webapi
	url = https://github.com/UWTSDStudents/productwebapi
[submodule "webapp"]
	path = webapp
	url = https://github.com/UWTSDStudents/productwebapp
[submodule "bicep_modules"]
	path = bicep_modules
	url = https://github.com/UWTSDSoACInfrastructure/BicepModules
